/* New Color Palette:
* Lightest: bright blue         #55DDE0     (text, contrast with dark)
* Dark Blue (Primary):    #1D499B
* Light blue (Secondary): #00A7E1
* Dark brown (Accent):  #52025A
*/
p{
    padding: 0;
    margin: 0;
}
.body{
    min-height: 100vh !important;
}
.navbar-light .navbar-brand {
    z-index: 20;
    color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding:4px;
    text-align: left;
}

.navbar-light {
    z-index: 20;
}

.navbar{
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1D499B;
    width: 100%;
    position: fixed;
    top:0
}

.navbar_bottom{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0.25rem;
    z-index: 1;
    position: fixed;
    bottom: 0;    
}

.navbar_link{
    display: flex;
    flex-direction: column;
    width: 60px;
    align-items: center;
    text-decoration: none;
    color:#7a7a7a;
    font-size:12px;
}

.navbar_bottom_container{
    width: 540px;
    margin: 0 auto;
    padding: 0px;
}
.navbar-toggler {
    background-color: #ffffff;
}

.container-fluid {
    height: auto;
}

.navbar-brand {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-right: auto;
    margin: 0;
    padding: 0;
    height: auto;

}

.navbar-nav {
    display: flex;
    align-items: left;
}
.content{
    max-width: 768px;
    margin: 0 auto;
}
.content_inspection_list{
    padding-top:3rem;
}
.content_inspection_list_title{
    width: 36rem;
    margin-left:0;
    padding-bottom: 1rem;
    text-align: left !important;
    align-self: flex-start;
    
}
.card-img{
    object-fit: cover;
}
.btn-primary{
    background-color: #1D499B;
}
#login {
    color: #ffffff;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

#loader {
    color: #ffffff;
    font-size: 12px;
}

#slogan {
    color: #ffffff;
    font-size: 76px;
    font-weight: 800;
    padding-bottom: 6rem;
    text-align: center;
}

.logo {
    padding-left: 30px;
    padding-right: 30px;

    object-fit: cover
}
.card{
    width: 36rem;
}
.card-image{
    height: 12rem;
}
.card_title {
    font-size: 16px;
    font-weight: 700;
}
.guide_arrow{
    opacity: 0.5; 
    margin-left: 70%;
}
.guide_text{
    font-size: 1.5rem;
    text-align: center;
}
#guideInfoPlaceholder{
    width: 100%;
    margin: 0 auto;
}
.addBtn{
    width: 100px;
    z-index: 10;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}
.add_inspection_section{
    background-color: #ffffff;
    z-index: 2;
    position: sticky;
    top: 60px;
    border-radius:0.25rem;
    /* border: #1D499B 2px dotted ; */
    margin: 1rem;
    padding: 0.5rem;
    width: 576px;
    font-weight: 600;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1),
        0 6px 20px 0 rgba(0, 0, 0, 0.1); ;
}
.add_inspection_bar{
    margin-top: 0.5rem;
    padding:0.25rem;
    width: 100%;
    background-color:#00A7E1;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media screen and (max-width: 425px) {
    .content {
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0 auto;
    }
    .content_inspection_list_title{
        width: 18rem;
    }
    .card{
        width: 18rem;
        height: 14rem;
    }
    .card_title{
        font-size: 14px;
        
    }
    .card-image {
        height: 10rem;
    }
    .navbar_bottom_container {
        width: 240px;
        margin: 0 auto;
    }
    .guide_arrow {
        opacity: 0.5;
        margin-left: 8rem;
    }
    .guide_text{
        font-size: 1rem;
        text-align: center;
    }
    .addBtn{
        display: flex;

    }
    .support_column{
        flex-direction: column;
    }
    .add_inspection_section {
        width: 300px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 425px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }

    .d-flex {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;

    }

    .form-control {
        width: auto;
        font-size: 18px;
        height: 38px;
        margin-bottom: 20px;
    }

    .btn-light {
        align-self: flex-start;
        font-size: 18px;
        height: 38px;
    }
    .navbar_bottom_container {
        padding-left:6rem;
        padding-right: 6rem;
        margin: 0 auto;
    }
    .content_inspection_list_title{
        width: 22rem;
    }
    .card {
        width: 22rem;
    }
    .guide_arrow {
        opacity: 0.5;
        margin-left: 50%;
    }    
    .guide_text{
        font-size: 1.25rem;
        text-align: center;
    }
    .support_column{
        flex-direction: column;
    }
    .add_inspection_section {
        width: 352px;
    }

}



@media screen and (min-width: 900px) {
    #slogan-br {
        display: none;
    }
    .addBtn {
        display: flex;

    }
        .navbar_link {
            display: flex;
            flex-direction: column;
            width: 60px;
            align-items: center;
            text-decoration: none;
            color: #7a7a7a;
            font-size: 14px;
        }
}

.btn-get-started {
    font-size: 18px;
    align-self: center;
    margin-top: 20px;
}

.material-icons {
    cursor: pointer;
}

.filterIcon{
    filter: invert(60%) sepia(41%) saturate(6716%) hue-rotate(163deg) brightness(96%) contrast(102%);
}

.hideTitle{
    display: none;
}

.colorInit{
    color: #929292;
}
.colorChanged {
    color: #1D499B;
}

.archiveIcon {
    font-size: 2rem;

    margin-left: 1rem;

}

.card {
    width: 100%;
    margin: auto;

}