/* New Color Palette:
* Lightest: bright blue         #55DDE0     (text, contrast with dark)
* Dark Blue (Primary):    #1D499B
* Light blue (Secondary): #00A7E1
* Dark brown (Accent):  #52025A
*/

.body{
    min-height: 100vh !important;
}
.navbar-light .navbar-brand {
    color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding:4px;
    text-align: left;
}



.navbar-light {
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1D499B;
    width: 100%;
    position: fixed;
    top:0
}
.navbar_bottom{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0.25rem;
    z-index: 1;
    position: fixed;
    bottom: 0;
    
}

.navbar_bottom_container{
    width: 540px;
    margin: 0 auto;
}
.navbar-toggler {
    background-color: #ffffff;
}

.container-fluid {
    height: auto;
}

.navbar-brand {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-right: auto;
    margin: 0;
    padding: 0;
    height: auto;

}

.navbar-nav {
    display: flex;
    align-items: left;
}
.content{
    max-width: 768px;
    margin: 0 auto;
}

.content_inspection_list_title{
    padding-bottom: 1rem;
}
.btn-primary{
    background-color: #1D499B;
}
#login {
    color: #ffffff;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

#loader {
    color: #ffffff;
    font-size: 12px;
}

#slogan {
    color: #ffffff;
    font-size: 76px;
    font-weight: 800;
    padding-bottom: 6rem;
    text-align: center;
}

.logo {
    padding-left: 30px;
    padding-right: 30px;

    object-fit: cover
}

.createNewForm{
    padding-top: 6rem;
    padding-bottom: 3rem;
}


@media screen and (max-width: 425px) {
    .content {
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0 auto;
    }
    .card{
        width: 18rem;
        height: 14rem;
    }
    .card_title{
        font-size: 14px;
        
    }
    .card-image {
        height: 10rem;
    }
    .navbar_bottom_container {
        width: 240px;
        margin: 0 auto;
    }
    .guide_arrow {
        opacity: 0.5;
        margin-left: 8rem;
    }
    .guide_text{
        font-size: 1rem;
        text-align: center;
    }

}

@media only screen and (max-width: 768px) and (min-width: 425px) {
    .content {
        padding-left: 3rem;
        padding-right: 3rem;
        margin: 0 auto;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }

    .d-flex {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;

    }

    .form-control {
        width: auto;
        font-size: 18px;
        height: 38px;
        margin-bottom: 20px;
    }

    .btn-light {
        align-self: flex-start;
        font-size: 18px;
        height: 38px;
    }
    .navbar_bottom_container {
        padding-left:6rem;
        padding-right: 6rem;
        margin: 0 auto;
    }

    .guide_arrow {
        opacity: 0.5;
        margin-left: 12rem;
    }    
    .guide_text{
        font-size: 1.25rem;
        text-align: center;
    }
    .form-control{
        width: 100%;
    }
}



@media screen and (min-width: 768px) {
    #slogan-br {
        display: none;
    }

    .content {
        padding-left: 3rem;
        padding-right: 3rem;
        margin: 0 auto;
        width: 100%;
    }
    
}

.btn-get-started {
    font-size: 18px;
    align-self: center;
    margin-top: 20px;
}