.navbar-light .navbar-brand {
    color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    font-size:18px;
    padding: 10px;
    text-align: left;
}

.form-control .btn-light {
    align-items: center;
    justify-items: center;
    font-size: 18px;
    height: 38px;

}

.navbar-light {
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar-toggler {
    background-color:#ffffff;
}
.container-fluid{
    height:auto;
}
.navbar-brand {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-right: auto;
    margin-left: 0;
    padding-left:0;
    height: auto;

}

.navbar-nav {
    display: flex;
    align-items: left;
}

.banner-container {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(255, 190, 115, 0.1)),
    url('../images/RR_background.jpg') ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform .2s;
}

#login {
    color:#ffffff;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

#loader {
    color: #ffffff;
    font-size: 12px;
}

#slogan{
    color: #ffffff;
    font-size: 76px;
    font-weight: 800;
    padding-bottom: 6rem;
    text-align: center;
}



@media screen and (max-width: 425px){
    #slogan{
        font-size: 40px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 425px){
    #slogan {
            font-size: 56px;
        }
    .navbar .d-flex {
        flex-direction: row;
        align-items: center;
    }
    .form-control {
        width: auto;
        font-size: 18px;
        height: 38px;
    }
    .btn-light {
        font-size: 18px;
        height: 38px;
        margin-left: 10px;
    }
}
@media screen and (min-width: 900px){
    #slogan-br {
        display: none;
    }
}

.call-to-action {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 100%;
    min-height: 250px;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
}

.authentication {
    border: #dee2e6;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 90%;
    height: fit-content;
    max-width: 380px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
}

.greeting {
    border: #dee2e6;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 90%;
    min-height: 250px;
    max-width: 450px;
    height: fit-content;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
    color:#ffffff;
}

.call-to-action h2,
.call-to-action p {
    margin-bottom: 20px;
    color: #ffffff;
}

.call-to-action a {
    margin-top: 10px;
}

.custom-login {
    font-size: 20px;
}
